.contact-flexbox{
    display: flex; 
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
}

.phone-contact{
    display: flex;
    flex-direction: row;
}

.phone-icon{
    width: 50px;
    height: 50px;
    margin-left: 40px;
}

.numbers-container{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.all-contact-title{
    font-size: 21px;
    font-family: Arial;
    color: black;
    margin-left: 30px;
}

.numbers{
    font-size: 17px;
    font-family: Tahoma;
    color: black;
    line-height: 1.7;
    margin-left: 40px;
}

.adress{
    font-size: 17px;
    font-family: Tahoma;
    color: black;
    line-height: 1.7;
    margin-left: 40px;
}

.open-date{
    
}

.open-date-paragraph{
    line-height: 1.7;
    
}

.email-title{
    font-size: 17px;
    font-family: Tahoma;
    color: black;
    line-height: 1.7;
    margin-left: 40px;
}