.all-gallery-flexbox{
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 60px;
}

.gallery-flexbox{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gallery-photos{
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  transition: box-shadow 0.4s;
}

.gallery-photos:hover{
  box-shadow: 0px 0px 10px rgba(0, 102, 255, 1);
}
