.all-treatments-container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-around;
}

.treatments-main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.treatments-containers{
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    width: 550px;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    transition: padding-left 0.6s,
                padding-right 0.6s,
                color 0.6s,
                background-color 0.6s,
                letter-spacing 0.6s;
}

.treatments-containers:hover{
    color: white;
    background-color: black;
    letter-spacing: 2px;
}

.treatments-containers-2{
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    width: 550px;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    transition: padding-left 0.6s,
                padding-right 0.6s,
                color 0.6s,
                background-color 0.6s,
                letter-spacing 0.6s; 
}

.treatments-containers-2:hover{
    color: white;
    background-color: black;
    letter-spacing: 2px;
}